<mat-sidenav-container [hasBackdrop]="(menu$ | async)?.hasBackdrop"
                       CdkScrollable>
  <mat-sidenav #sideMenu
               [mode]="(menu$ | async)?.mode">
    <mat-nav-list>
      <a mat-list-item
         *ngFor="let section of (menu$ | async)?.sections"
         [href]="'/#' + section.link"
         [ngClass]="{'active': section.id === (activeSection$ | async)?.id}">
        <mat-icon matListIcon [style.color]="section.id === (activeSection$ | async)?.id ?
                                              section.background_color : null">
          {{ section.icon }}
        </mat-icon>
        <h3 matLine [style.color]="section.id === (activeSection$ | async)?.id ?
                                    section.background_color : null">
          {{ section.title | uppercase }}
        </h3>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="header"
        fxFlexLayout>
      <div class="header__background">
      </div>

      <div class="menu_button"
          (click)="sideMenu.toggle()"
          [ngClass]="{'open': sideMenu.opened}"
          fxFlex="0 0 10rem">
        <mat-icon *ngIf="!sideMenu.opened">menu</mat-icon>
        <mat-icon *ngIf="sideMenu.opened">close</mat-icon>
      </div>

      <h2 *ngIf="(activeSection$ | async)?.id !== 'home'">{{ (activeSection$ | async)?.title }}</h2>
    </div>

    <div class="hole_border" [ngClass]="{'open': sideMenu.opened}"></div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
