@import "../../../../variables";

mat-sidenav-container {
  height: 100vh;
}

.header {
  height: 12rem;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
  overflow: hidden;

  &__background {
    height: 80vh;
    width: 100vw;
    background-image: linear-gradient(to right bottom, $light-grey, $darker-grey);
    background-size: cover;
    background-position: top;
    mask-image: radial-gradient(circle at 5rem 5rem, transparent 3rem, rgb(0, 0, 0) 3rem);
    clip-path: polygon(0 0, 100% 0, 100% 8.5vh, 0% 6.5vh);
    animation: fadeIn 0s ease-out 1.5s;
    animation-fill-mode: backwards;
  }
}

.menu_button {
  position: fixed;
  top: 2.7rem;
  left: 2.7rem;
  z-index: 10;

  .mat-icon {
    font-size: 4.5rem;
    height: 4.5rem;
    width: 4.5rem;
    color: $white;
  }
}

.hole_border {
  height: 6.2rem;
  width: 6.2rem;
  position: fixed;
  z-index: 1;
  top: 1.9rem;
  left: 1.9rem;
  border-radius: 50%;
  border: 2px solid #3f3f3f;
  box-shadow: inset 0px 0px 1px rgba(10, 10, 10, 0.77);
  animation: fadeIn .1s ease-out 1.5s;
  animation-fill-mode: backwards;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.25,.8,.25,1);
}

.hole_border.open, .menu_button.open {
  margin-left: 135px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


