<mat-sidenav-container [hasBackdrop]="config?.menu?.hasBackdrop">
  <mat-sidenav #sideMenu
               [mode]="config?.menu?.mode">
    <mat-nav-list>
      <a mat-list-item
         *ngFor="let section of config?.menu?.sections"
         [routerLink]="section.link">
        <mat-icon matListIcon>{{ section.icon }}</mat-icon>
        <h3 matLine> {{ section.title | uppercase }} </h3>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <button mat-fab
              (click)="sideMenu.toggle()">
        <mat-icon *ngIf="!sideMenu.opened">menu</mat-icon>
        <mat-icon *ngIf="sideMenu.opened">close</mat-icon>
      </button>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
