<section fxLayout="row wrap"
         fxLayoutAlign="center end"
         [formGroup]="contactForm"
         data-test="contactForm">
  <div class="contact__input"
       fxFlex="1 1 55%">
    <mat-form-field>
      <input type="text"
             placeholder="Email"
             matInput
             formControlName="email"
             data-test="emailInput">

      <mat-error 
        *ngIf="contactForm.get('email').touched && contactForm.get('email').invalid"
        data-test="emailInputError">
        Please introduce a correct email :)
      </mat-error>
    </mat-form-field>
  </div>

  <div class="contact__input"
       fxFlex="1 1 55%">
    <mat-form-field>
      <textarea type="text"
                placeholder="Message"
                matInput
                formControlName="message"
                data-test="messageInput">
      </textarea>

      <mat-error
        *ngIf="contactForm.get('message').touched && contactForm.get('message').invalid"
        data-test="messageInputError">
        Please drop me a line :)
      </mat-error>
    </mat-form-field>
  </div>

  <div class="contact__button"
       fxFlex="1 1 100%"
       fxLayoutAlign="center end">
    <button mat-fab
            (click)="sendMessage(contactForm.value);"
            [disabled]="contactForm.invalid"
            [style.backgroundColor]="contactForm.valid ? (buttonColor$ | async) : null"
            data-test="submitButton">
      <mat-icon class="mat-18">send</mat-icon>
    </button>
  </div>
</section>

