<section>
  <div class="counter">
    <h3>{{ works.length }}</h3>
  </div>

  <div class="portfolio_container"
       fxLayout="row"
       fxLayoutAlign="start end"
       fxLayoutGap="2em">
    <mat-card *ngFor="let work of works; let index = index;"
              (click)="openWorkInDialog(index);"
              fxFlex="1 1 30rem">
      <img matCardImage [src]="work.image">

      <mat-card-content fxLayout="column"
                        fxLayoutAlign="space-between start"
                        [style.height.rem]="18">
        <mat-card-title fxFlex="0 0 0%">{{ work.title }}</mat-card-title>
        <mat-card-subtitle fxFlex="1 1 auto">{{ work.description }}</mat-card-subtitle>
        <mat-chip-list fxFlex="0 0 auto"
                      fxLayoutAlign="end center"
                      [style.width.%]="100">
          <mat-chip *ngFor="let category of work.categories"
                    [title]="category.title">
            <mat-icon>{{ category.icon }}</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
  </div>
</section>


<!-- CODE IFRAME TEMPLATE -->
<ng-template #codeIframeTemplate>
  <div class="dialog__header_container">
    <button mat-fab
            color="primary"
            (click)="dialogRef.close()"
            class="dialog__close_button">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div fxLayoutAlign="center center"
       class="dialog__spinner_container">
    <mat-progress-spinner mode="indeterminate"
                          color="accent"
                          *ngIf="iframeLoading">
    </mat-progress-spinner>
  </div>

  <div class="dialog__iframe_container">
    <div class="dialog__curtain"
         *ngIf="iframeLoading">
    </div>

    <div class="dialog__iframe_wrapper"
         *ngIf="selectedWorkLink">
      <iframe scrolling="no"
              frameborder="0"
              id="player"
              [src]="selectedWorkLink"
              allowfullscreen="true"
              width="100%"
              height="100%">
      </iframe>
    </div>

    <button mat-fab
            color="primary"
            (click)="openWorkInDialog(selectedWorkIndex - 1)"
            [disabled]="selectedWorkIndex - 1 < 0"
            class="dialog__work_button--previous">
      <mat-icon>arrow_left</mat-icon>
    </button>

    <button mat-fab
            color="primary"
            (click)="openWorkInDialog(selectedWorkIndex + 1)"
            [disabled]="selectedWorkIndex + 1 >= works.length"
            class="dialog__work_button--next">
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>

</ng-template>
