@import "../../../variables";

.home {
  &__bgcolor {
    width: 100vw;
    position: absolute;
    z-index: -2;
    animation: fadeIn 0.5s ease-out;
    animation-fill-mode: backwards;
  }

  &__container {
    position: relative;
    overflow: hidden;
  }
}

.hi {
  color: $white;
  font-size: 2rem;
  border: 2px solid #2a2a2a;
  padding: 5px 10px;
}

.profile {
  &__logo {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
  }
}

.footer {
  position: relative;
}

.logo_top {
  position: absolute;
  top: calc(80vh - 75rem);
  left: calc(50vw - 20rem);
  z-index: -2;
}

.logo_bottom {
  position: absolute;
  height: 60rem;
  z-index: -1;
  right: 0rem;
  bottom: 0rem;
  opacity: 0.9;
}

.title_background {
  position: fixed;
  // Allow scroll on top of this element on Firefox
  pointer-events: none;
  top: 0;
  height: 80vh;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(to right bottom, $light-grey, $darker-grey);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  transform-style: preserve-3d;
  animation: appearFromTop 1s ease-out 1.5s;
  animation-fill-mode: backwards;
  transition: all ease-in 0.4s;

  &__container {
    height: 100%;
    text-align: center;
    font-size: 17vw;
    color: #191919;
  }
}

::ng-deep section {
  height: 90vh;
}

@keyframes appearFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appearFromLeft {
  0% {
    transform: translateX(-100%);
  }

  80% {
    transform: translateX(10%);
  }

  100% {
    transform: translate(0);
  }
}

