<div class="home__container" id="home">
  <div class="home__bgcolor" #homeBackgroundColor></div>

  <div class="title_background" #homeBackgroundTitle>
    <div class="title_background__container"
         fxLayoutAlign="start center"
         #titleBackgroundContainer>
      <div class="title_background__title"
           fxFlex="0 0 100vw"
           *ngFor="let section of sections">
        <h1>{{ section.title }}</h1>
      </div>
    </div>
  </div>

  <div class="logo_top">
    <img src="../../../assets/img/aleix_perfil_cartoon.svg">
  </div>

  <!-- PROFILES SECTION -->
  <section fxLayout="column"
           fxLayoutAlign="end center"
           id="profile">
    <h3 fxFlex="0 0 auto"
        class="hi"
        data-test="profileGreeting">
      I'm Aleix, frontend developer
    </h3>

    <div class="profile__logos_container"
         fxFlex="0 0 auto"
         fxLayout="row"
         fxLayoutAlign="space-between center">
      <a href="https://www.linkedin.com/in/aleix-suau"
         target="_blank"
         data-test="profileLink">
        <img src="../../../assets/img/linkedIn_logo.svg"
             class="profile__logo">
      </a>
      <a href="https://github.com/aleixsuau"
         target="_blank"
         data-test="profileLink">
        <img src="../../../assets/img/github_logo.svg"
             class="profile__logo">
      </a>
      <a href="https://stackblitz.com/@aleixsuau"
         target="_blank"
         data-test="profileLink">
        <img src="../../../assets/img/code_logo.svg"
             class="profile__logo">
      </a>
      <a href="https://medium.com/@aleixsuau"
         target="_blank"
         data-test="profileLink">
        <img src="../../../assets/img/medium_logo.svg"
             class="profile__logo">
      </a>
      <a href="https://twitter.com/aleixsuau"
         target="_blank"
         data-test="profileLink">
        <img src="../../../assets/img/twitter_logo.svg"
             class="profile__logo">
      </a>
    </div>
  </section>

  <app-section id="blog" [collection]="posts" (itemClicked)="goToExternalUrl($event)"></app-section>

  <app-section id="works" [collection]="works" (itemClicked)="openWorkInDialog($event)"></app-section>

  <app-contact id="contact"></app-contact>

  <div [style.paddingBottom]="voidSpaceHeightScreenPercentage * 100 + 'vh'"
       class="footer">
    <div class="logo_bottom">
        <img src="../../../assets/img/aleix_perfil_cartoon.svg">
    </div>
  </div>
</div>

<!-- CODE IFRAME TEMPLATE -->
<ng-template #codeIframeTemplate>
  <div class="dialog__header_container" data-test="dialogIframeContainer">
    <button mat-fab color="primary" (click)="dialogRef.close()" class="dialog__close_button" data-test="dialogCloseButton">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div fxLayoutAlign="center center" class="dialog__spinner_container">
    <mat-progress-spinner mode="indeterminate" color="accent" *ngIf="iframeLoading">
    </mat-progress-spinner>
  </div>

  <div class="dialog__iframe_container">
    <div class="dialog__curtain" *ngIf="iframeLoading">
    </div>

    <div class="dialog__iframe_wrapper" *ngIf="selectedWorkLink">
      <iframe scrolling="no" frameborder="0" id="player" [src]="selectedWorkLink" allowfullscreen="true" width="100%"
        height="100%" data-test="dialogIframe">
      </iframe>
    </div>

    <button mat-fab color="primary" (click)="openWorkInDialog(selectedWorkIndex - 1)"
      [disabled]="selectedWorkIndex - 1 < 0" class="dialog__work_button--previous">
      <mat-icon>arrow_left</mat-icon>
    </button>

    <button mat-fab color="primary" (click)="openWorkInDialog(selectedWorkIndex + 1)"
      [disabled]="selectedWorkIndex + 1 >= works.length" class="dialog__work_button--next">
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
</ng-template>
