@import "../../../variables";

.home {
  &__bgcolor {
    height: 390vh;
    width: 100vw;
    position: absolute;
    z-index: -2;
  }

  &__container {
    overflow: hidden;
  }
}

.profile {
  &__logo {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
  }
}

.title_background {
  position: fixed;
  height: 80vh;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(to right bottom, $light-grey, $darker-grey);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  animation: appearFromTop 1s ease-out .5s;
  animation-fill-mode: backwards;

  &__container {
    height: 100%;
    text-align: center;
    font-size: 15vw;
    color: #191919;
  }
}

.title {
  position: fixed;
  top: 4.6rem;
  left: 12rem;

  h1 {
    margin: 0;
    color: white;
    text-transform: uppercase;
  }
}

::ng-deep section {
  height: 90vh;
}

@keyframes appearFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes appearFromLeft {
  0% {
    transform: translateX(-100%);
  }

  80% {
    transform: translateX(10%);
  }

  100% {
    transform: translate(0);
  }
}

