<div class="home__container" id="home">
  <div class="home__bgcolor" #homeBackgroundColor></div>

  <div class="title_background" #homeBackgroundTitle>
    <div class="title_background__container"
         fxLayoutAlign="start center"
         #titleBackgroundContainer>
      <div class="title_background__title"
           fxFlex="0 0 100vw"
           *ngFor="let section of sections">
        <h1>{{ section.title }}</h1>
      </div>
    </div>
  </div>

  <div class="logo_top">
    <img src="../../../assets/img/aleix_perfil_cartoon.svg">
  </div>

  <!-- PROFILES SECTION -->
  <section fxLayout="column"
           fxLayoutAlign="end center"
           class="profile">
    <h3 fxFlex="0 0 auto"
        class="hi">
      I'm Aleix, frontend developer
    </h3>

    <div class="profile__logos_container"
         fxFlex="0 0 auto"
         fxLayout="row"
         fxLayoutAlign="space-between center">
      <a href="https://www.linkedin.com/in/aleix-suau"
         target="_blank">
        <img src="../../../assets/img/linkedIn_logo.svg"
             class="profile__logo">
      </a>
      <a href="https://github.com/aleixsuau"
         target="_blank">
        <img src="../../../assets/img/github_logo.svg"
             class="profile__logo">
      </a>
      <a href="https://stackblitz.com/@aleixsuau"
         target="_blank">
        <img src="../../../assets/img/code_logo.svg"
             class="profile__logo">
      </a>
      <a href="https://medium.com/@aleixsuau"
         target="_blank">
        <img src="../../../assets/img/medium_logo.svg"
             class="profile__logo">
      </a>
      <a href="https://twitter.com/aleixsuau"
         target="_blank">
        <img src="../../../assets/img/twitter_logo.svg"
             class="profile__logo">
      </a>
    </div>
  </section>

  <app-portfolio [works]="works"></app-portfolio>

  <app-blog></app-blog>

  <app-contact></app-contact>



  <div [style.paddingBottom]="voidSpaceHeightScreenPercentage * 100 + 'vh'"
       class="footer">
    <div class="logo_bottom">
        <img src="../../../assets/img/aleix_perfil_cartoon.svg">
    </div>
  </div>
</div>
